<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.studentBackend.mapper.TextbookManagerMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.example.studentBackend.entity.TextbookManager" id="textbookManagerMap">
        <result property="id" column="id"/>
        <result property="textbookCode" column="textbook_code"/>
        <result property="textbookName" column="textbook_name"/>
        <result property="year" column="year"/>
        <result property="major" column="major"/>
        <result property="price" column="price"/>
        <result property="isActive" column="is_active"/>
        <result property="version" column="version"/>
        <result property="ref1" column="ref1"/>
        <result property="ref2" column="ref2"/>
        <result property="ref3" column="ref3"/>
        <result property="ref4" column="ref4"/>
        <result property="crtUserName" column="crt_user_name"/>
        <result property="crtUserId" column="crt_user_id"/>
        <result property="crtTime" column="crt_time"/>
        <result property="updUserName" column="upd_user_name"/>
        <result property="updUserId" column="upd_user_id"/>
        <result property="updTime" column="upd_time"/>
    </resultMap>

    <select id="selectListQuery" resultMap="textbookManagerMap">
        SELECT *
        FROM textbook_manager
        WHERE 1 = 1
            <if test="textbookCode != null and textbookCode != ''">
                and textbook_code = #{textbookCode}
            </if>
            <if test="textbookName != null and textbookName != ''">
                and textbook_name = #{textbookName}
            </if>
            <if test="year != null and year != ''">
                and year = #{year}
            </if>
            <if test="major != null and major != ''">
                and major = #{major}
            </if>
            <if test="price != null and price != ''">
                and price = #{price}
            </if>
            <if test="crtTime != null and crtTime != ''">
                and crt_time = #{crtTime}
            </if>
        ORDER BY crt_time desc
    </select>
</mapper>